@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style: none;
}
body {
  background: #181818 !important;
}
/* ============================== connon css part end=========================== */
/* ============================== blog heading part start=========================== */
#information {
  padding: 100px 0 90px;
}

.heading-info {
  /* background-color: red; */
  text-align: center;
}

.heading-info p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #c8cbcd;
  line-height: 30px;
}
.heading-info h1 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 54px;
  padding-bottom: 28px;
}
.heading_animation {
  margin: 0 auto;
  height: 5px;
  width: 120px;
  background: #39ff14;
}

#blog-heading {
  padding: 50px 0 30px;
}
/* ============================== blog heading part end=========================== */
/* ============================== blog body part start=========================== */

#card-heading {
  padding: 50px 0 80px;
}

.blog-img img {
  width: 100%;
}
.blog-img {
  width: 100%;
  position: relative;
}
.img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 20px;
  padding: 10px 15px;
  background: #2a7c1c;
  width: fit-content;
}
.blog-text {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog-text h4 {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.blog-text p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.518);
  font-family: "Poppins", sans-serif;
  line-height: 23px;
}

.blog-row{
  --bs-gutter-x:40px;
  --bs-gutter-y:40px;

}
/* ============================== blog body part end=========================== */
