/* ========================================
          For home Page responsive design start
=========================================== */
/* ==================================================
              Extra Small device design  start
=================================================== */
@media (min-width: 320px) and (max-width: 576.99px) {
  /* ==================================================
              Info part  start
  =================================================== */
  .bannar-img {
    text-align: center;
  }
  .bannar-img img {
    border-radius: 5%;
  }
  .bannar-heading {
    color: #25bd25;
    padding-top: 72px;
  }
  .bannar-heading-two {
    padding: 8px 0 10px;

    font-size: 24px;
    line-height: 34px;
    width: auto;
  }
  .bannar-pragraph {
    padding-bottom: 43px;
    font-size: 14px;

    width: auto;
    line-height: 24px;
  }
  .info {
    gap: 9px;
    flex-direction: column;
  }

  .common-ntn {
    font-size: 14px;
    padding: 13px 28px;
    white-space: nowrap;
  }
  .info-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .info-last-line {
    width: 71px;
  }
  .info-footer-icon {
    margin-left: 0px;
  }
  .common-ntn:hover {
    color: #ffffff;
    border-color: #24a70d;
    background: #24a70d;
  }
  /* ==================================================
              Info part End
  =================================================== */
  /* ==================================================
              Services part start
  =================================================== */
  .services-heading {
    font-size: 44px;
  }
  .services-icon-pragarph {
    width: auto;
  }
  .about-services-element::before {
    opacity: 1 !important;
    width: 100%;
  }

  .about-services-element:hover::before {
    width: 100%;
    opacity: 1;
  }
  .services-heading {
    font-size: 35px;
  }

  /* ==================================================
              Services part End
  =================================================== */
}

/* ==================================================
              Extra Small device design End
=================================================== */
/* ==================================================
               Small device design  start
=================================================== */
@media (min-width: 577px) and (max-width: 767.99px) {
  /* ==================================================
              Info part  start
  =================================================== */
  .heading-info {
    padding: 60px 0 86px;
  }
  .bannar-img {
    text-align: center;
  }
  .bannar-img img {
    border-radius: 5%;
  }
  .bannar-heading {
    color: #25bd25;
    padding-top: 72px;
  }
  .bannar-heading-two {
    padding: 8px 0 10px;

    font-size: 24px;
    line-height: 34px;
    width: auto;
  }
  .bannar-pragraph {
    padding-bottom: 43px;
    font-size: 14px;

    width: auto;
    line-height: 24px;
  }
  .info {
    gap: 9px;
    flex-direction: column;
  }
  .common-ntn:hover {
    color: #ffffff;
    border-color: #24a70d;
    background: #24a70d;
  }

  .common-ntn {
    font-size: 14px;
    padding: 13px 28px;
    white-space: nowrap;
  }
  .info-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .info-last-line {
    width: 71px;
  }
  .info-footer-icon {
    margin-left: 0px;
  }
  /* ==================================================
              Info part End
  =================================================== */
  /* ==================================================
              Services part start
  =================================================== */
  .services-heading {
    font-size: 44px;
  }
  .services-icon-pragarph {
    width: auto;
  }
  .about-services-element::before {
    opacity: 1 !important;
    width: 100%;
  }

  .about-services-element:hover::before {
    width: 100%;
    opacity: 1;
  }
  /* ==================================================
              Services part End
  =================================================== */
  /* ==================================================
              spb part End
  =================================================== */
  .spb-elm {
    padding: 47px 0;
  }
  /* ==================================================
              spb part End
  =================================================== */
}

/* ==================================================
               Small device design End
=================================================== */
/* ==================================================
               Medium device design  start
=================================================== */
@media (min-width: 768px) and (max-width: 991.99px) {
  /* ==================================================
              Info part  start
  =================================================== */
  .heading-info {
    padding: 60px 0 86px;
  }
  .bannar-img {
    text-align: center;
  }
  .bannar-img img {
    border-radius: 3%;
    width: 75%;
  }
  .bannar-heading {
    color: #25bd25;
    padding-top: 72px;
  }
  .bannar-heading-two {
    font-size: 35px;
    line-height: 44px;
    width: auto;
  }
  .bannar-pragraph {
    padding-bottom: 43px;
    font-size: 16px;
    width: auto;
    line-height: 24px;
  }
  .info {
    gap: 9px;
    flex-direction: column;
  }
  .info-footer-icon ul li a {
    font-size: 23px;
  }
  .common-ntn:hover {
    color: #ffffff;
    border-color: #24a70d;
    background: #24a70d;
  }

  .common-ntn {
    font-size: 15px;
    padding: 15px 37px;
    white-space: nowrap;
  }
  .info-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .info-last-line {
    width: 71px;
  }
  .info-footer-icon {
    margin-left: 0px;
  }
  /* ==================================================
              Info part End
  =================================================== */
  /* ==================================================
              Services part start
  =================================================== */
  .services-heading {
    font-size: 44px;
  }
  .services-icon-pragarph {
    width: auto;
  }
  .about-services-element::before {
    opacity: 1 !important;
    width: 100%;
  }

  .about-services-element:hover::before {
    width: 100%;
    opacity: 1;
  }
  .services-icon-text {
    font-size: 24px;
  }
  /* ==================================================
              Services part End
  =================================================== */
  /* ==================================================
              spb part End
  =================================================== */
  .spb-elm {
    padding: 47px 0;
  }
  /* ==================================================
              spb part End
  =================================================== */
}

/* ==================================================
               Medium device design End
=================================================== */
/* ==================================================
               large device design  start
=================================================== */
@media (min-width: 992px) and (max-width: 1199.99px) {
  /* ==================================================
              Info part  start
  =================================================== */
  .info-footer-icon ul li a {
    font-size: 26px;
  }

  /* ==================================================
              Info part End
  =================================================== */
  /* ==================================================
              Services part start
  =================================================== */
  .services-icon-pragarph {
    width: 287px;
  }
  .services-icon-text {
    font-size: 20px;
  }
  /* ==================================================
              Services part End
  =================================================== */
}

/* ==================================================
               large device design End
=================================================== */
/* ==================================================
                Extra large device design End
=================================================== */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  /* ==================================================
               Info design  start
=================================================== */
  .bannar-img img {
    width: 96%;
  }
  /* ==================================================
               Info  design End
=================================================== */
}
/* ==================================================
               Extra  large device design End
=================================================== */

/* ========================================
          For home Page responsive design End
=========================================== */

/* ========================================
          For Resume Page responsive design Start
=========================================== */

/* ========================================
         Extra small devices design Start
=========================================== */
@media (min-width: 320px) and (max-width: 575.99px) {
  /* ========================================
       Education part Start
=========================================== */
  #education {
    padding: 110px 10px;
  }
  .edu-element {
    flex-direction: column;
  }
  .edu-text-icon {
    column-gap: 24px;
  }
  .edu-text-icon:nth-child(3) {
    border-bottom: 2px solid rgba(250, 213, 165, 0.623);
    border-top: 2px solid rgba(250, 213, 165, 0.623);
  }
  /* ========================================
        Education part End
=========================================== */
  /* ========================================
        Office part Start
=========================================== */
  #office {
    padding: 90px 0 55px;
  }
  iframe {
    height: 100%;
    padding-top: 55px;
  }
  /* ========================================
        Office part End
=========================================== */
}

/* ========================================
        Extra small devices design  End
=========================================== */
/* ========================================
          small devices design Start
=========================================== */
@media (min-width: 576px) and (max-width: 767.99px) {
  /* ========================================
       Education part Start
=========================================== */
  #education {
    padding: 110px 10px;
  }
  .edu-element {
    flex-direction: column;
  }
  .edu-text-icon {
    column-gap: 24px;
  }
  .edu-text-icon:nth-child(3) {
    border-bottom: 2px solid rgba(250, 213, 165, 0.623);
    border-top: 2px solid rgba(250, 213, 165, 0.623);
  }
  /* ========================================
        Education part End
=========================================== */
  /* ========================================
        Office part Start
=========================================== */
  #office {
    padding: 90px 0 55px;
  }
  iframe {
    height: 330px;

    padding-top: 55px;
  }
  /* ========================================
        Office part End
=========================================== */
}

/* ========================================
         small devices design  End
=========================================== */

/* ========================================
          Medium devices design Start
=========================================== */
@media (min-width: 768px) and (max-width: 991.99px) {
  /* ========================================
       Education part Start
=========================================== */
  #education {
    padding: 110px 10px;
  }
  .edu-element {
    gap: 44px;
  }
  .edu-text-icon {
    column-gap: 24px;
  }
  .edu-text-icon:nth-child(3) {
    border-bottom: 2px solid rgba(250, 213, 165, 0.623);
    border-top: 2px solid rgba(250, 213, 165, 0.623);
  }
  /* ========================================
        Education part End
=========================================== */
  /* ========================================
        Office part Start
=========================================== */
  #office {
    padding: 90px 0 55px;
  }
  iframe {
    height: 380px !important;
    width: 70% !important;

    padding-top: 55px;
  }
  /* ========================================
        Office part End
=========================================== */
}

/* ========================================
         Medium devices design  End
=========================================== */
/* ========================================
          Large devices design Start
=========================================== */
@media (min-width: 992px) and (max-width: 1199.99px) {
  /* ========================================
       Education part Start
=========================================== */
  #education {
    padding: 110px 0px;
  }

  .edu-text-icon:nth-child(3) {
    border-bottom: 2px solid rgba(250, 213, 165, 0.623);
    border-top: 2px solid rgba(250, 213, 165, 0.623);
  }
  /* ========================================
        Education part End
=========================================== */
  /* ========================================
        Office part Start
=========================================== */
  #office {
    padding: 90px 0 55px;
  }

  /* ========================================
        Office part End
=========================================== */
}

/* ========================================
         Large devices design  End
=========================================== */
/* ========================================
        Extra  Large devices design Start
=========================================== */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  /* ========================================
       Education part Start
=========================================== */

  /* ========================================
        Education part End
=========================================== */
  /* ========================================
        Office part Start
=========================================== */

  /* ========================================
        Office part End
=========================================== */
}

/* ========================================
       Extra  Large devices design  End
=========================================== */

/* ========================================
          For Resume Page responsive design End
=========================================== */
/* ========================================
          For Portfolio Page responsive design Start
=========================================== */
/* ========================================
        Extra Small Devices design Start
=========================================== */

@media (min-width: 320px) and (max-width: 575.99px) {
  /* ========================================
        Card Section part Start
=========================================== */
  .card-text ul {
    gap: 16px;
    justify-content: start;
  }
  .card-text ul li {
    font-size: 17px;
  }
  .card-row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .card-row {
    --bs-gutter-x: 26px;
    --bs-gutter-y: 26px;
    padding: 22px 0 70px;
  }
  .card-img-text {
    padding-top: 33%;
  }
  /* ========================================
        Card Section part End
=========================================== */
}

/* ========================================
        Extra Small Devices design  End
=========================================== */
/* ========================================
         Small Devices design Start
=========================================== */

@media (min-width: 768px) and (max-width: 991.99px) {
  /* ========================================
       information part Start
=========================================== */
  #information {
    padding: 100px 0 53px;
  }
  /* ========================================
        information  part End
=========================================== */
}

/* ========================================
         Small Devices design  End
=========================================== */

/* ========================================
          For Portfolio Page responsive design End
=========================================== */
/* ========================================
          For Blog Page responsive design Start
=========================================== */
/* ========================================
        Extra Small Devices design Start
=========================================== */
@media (min-width: 320px) and (max-width: 575.99px) {
  /* ========================================
        Blog Heading Part Start
=========================================== */
  .blog-text p {
    font-size: 14px;
  }
  /* ========================================
        Blog Heading Part End
=========================================== */
}
/* ========================================
        Extra Small Devices design End
=========================================== */

/* ========================================
          For Blog Page responsive design End
=========================================== */
/* ========================================
          For Portfolio Page responsive design End
=========================================== */
/* ========================================
          For Contact Page responsive design Start
=========================================== */
/* ========================================
        Extra Small Devices design Start
=========================================== */
@media (min-width: 320px) and (max-width: 575.99px) {
  /* ========================================
        Contact Body Part Start
=========================================== */
  .message-top-part {
    flex-direction: column;
    gap: 20px;
  }
  .middle-part {
    gap: 20px;
  }
  .message-btn {
    padding: 11px 25px;
    margin: 20px 0;
  }
  .message-btn:hover {
    color: #ffffff;
    background: #31a81c;
    border-color: #31a81c;
  }
  .icon-info {
    font-size: 29px;
    padding-right: 30px;
    row-gap: 46px;
  }
  .text-elm h5 {
    font-size: 16px;
  }
  .text-info {
    padding-left: 33px;
  }
  .text-elm p {
    font-size: 13px;
  }
  .contact-info p {
    padding-bottom: 8px;
  }
  .self-info {
    margin-bottom: 30px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
        Extra Small Devices design End
=========================================== */
/* ========================================
         Small Devices design Start
=========================================== */
@media (min-width: 576px) and (max-width: 767.99px) {
  /* ========================================
        Contact Body Part Start
=========================================== */
  .message-top-part {
    flex-direction: column;
    gap: 20px;
  }
  .middle-part {
    gap: 20px;
  }
  .message-btn {
    padding: 11px 25px;
    margin: 20px 0;
  }
  .message-btn:hover {
    color: #ffffff;
    background: #31a81c;
    border-color: #31a81c;
  }
  .icon-info {
    font-size: 29px;
    padding-right: 30px;
    row-gap: 46px;
  }
  .text-elm h5 {
    font-size: 16px;
  }
  .text-info {
    padding-left: 33px;
  }
  .text-elm p {
    font-size: 13px;
  }
  .contact-info p {
    padding-bottom: 8px;
  }
  .self-info {
    margin-bottom: 30px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
         Small Devices design End
=========================================== */
/* ========================================
         Medium Devices design Start
=========================================== */
@media (min-width: 768px) and (max-width: 991.99px) {
  /* ========================================
        Contact Body Part Start
=========================================== */

  .message-btn {
    padding: 11px 25px;
    margin: 20px 0;
  }
  .message-btn:hover {
    color: #ffffff;
    background: #31a81c;
    border-color: #31a81c;
  }

  .self-info {
    margin-bottom: 30px;
  }
  .icon-info {
    font-size: 36px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
         Medium Devices design End
=========================================== */
/* ========================================
         Large Devices design Start
=========================================== */
@media (min-width: 992px) and (max-width: 1199.99px) {
  /* ========================================
        Contact Body Part Start
=========================================== */
  .text-elm p {
    font-size: 13px;
  }
  .icon-info {
    font-size: 33px;
    padding-right: 30px;
    row-gap: 49px;
  }
  .text-info {
    padding-left: 31px;
  }
  .contact-info p {
    padding-bottom: 16px;
  }
  .message-btn {
    margin-top: 24px;
  }
  #contact-body{
    margin-bottom: 20px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
         Large Devices design End
=========================================== */
/* ========================================
        Extra Large Devices design Start
=========================================== */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  /* ========================================
        Contact Body Part Start
=========================================== */
 
  .message-btn {
    margin-top: 55px;
  }
  #contact-body{
    margin-bottom: 20px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
        Extra Large Devices design End
=========================================== */
/* ========================================
        Extra Extra Large Devices design Start
=========================================== */
@media (min-width: 1400px)  {
  /* ========================================
        Contact Body Part Start
=========================================== */
 
  .message-btn {
    margin-top: 30px;
  }
  #contact-body{
    margin-bottom: 10px;
  }
  /* ========================================
        Contact Body Part End
=========================================== */
}
/* ========================================
        Extra Extra Large Devices design End
=========================================== */

/* ========================================
          For Contact Page responsive design End
=========================================== */
