@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* =============================================================
                common css tag start
============================================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
li{
  list-style: none;
}

/* =============================================================
                Video navnar css start
============================================================== */

.all-elm-here {
  position: relative;

  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.ifrem-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;

  object-fit: cover;
  z-index: -1;
}
.navbar-light .nav-link {
  width: fit-content;
}
.navbar-light img {
  width: 34.5%;
  vertical-align: middle;
}
.navbar-nav .nav-link {
  color: #e6e6e6 !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.navbar-expand-lg .navbar-nav {
  gap: 33px;
}
.navbar-expand-lg .navbar-nav .nav-link {
}
/* =============================================================
                Video  navbar css end
============================================================== */
/* =============================================================
                all element here  part start
============================================================== */
.video-wrapper::before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.504) ;
  z-index: 0;
}
/* =============================================================
                all element here part end
============================================================== */
/* =============================================================
                text animation   start
============================================================== */

#typewriter {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  animation: blinkCursor 0.7s steps(1) infinite;
  z-index: 1;
  color: #ffffff;
}
@keyframes blinkCursor {
  0% {
    border-color: #e6e6e6;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #ffffff;
  }
}

.text-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 240px;
}
.text-name {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 27px;
  z-index: 1;
}
/* =============================================================
                  text animation css start
============================================================== */
/* =============================================================
                 languge css start
============================================================== */
.language .lang-elm {
  color: #ffffff !important;
  z-index: 1;
}
/* .lang {
  display: flex;
  flex-direction: column;
  position: relative;
} */


.lang {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 56px;
  writing-mode: vertical-rl;
  transform: rotate(360deg); /* যাতে লেখাগুলো উপর থেকে নিচে পড়ে */
  /* flex-direction: row-reverse; */
}

.lang-elm {
  text-decoration: none;
  color: #F3F3F3;
  font-weight: 500;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* padding: 5px 10px; */
  /* border-radius: 4px; */
  font-size: 23px;
  font-family: "Poppins", sans-serif;
}
.language{
  margin-top: 60px;
}
/* =============================================================
                 languge css end
============================================================== */

/* =============================================================
                site social start
============================================================== */
.social-icon{
  z-index: 1;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 375px;
  right: 7%;
  gap: 20px;
  
  
  
}
.icon li a {
  font-size: 30px;
color: #F3F3F3;
}
/* =============================================================
                site social end
============================================================== */



/* ============================================== home part css======================== */


/* =============================================================
                home  part start
============================================================== */

/* =============================================================
                home  part end
============================================================== */

/* =============================================================
                home  part start
============================================================== */

/* =============================================================
                home  part start
============================================================== */

/* =============================================================
                home  part start
============================================================== */

/* =============================================================
                home  part start
============================================================== */


